body {
    font-family: Arial, sans-serif;
}

#plot1, #plot2, #plot3 {
    width: 100%;
    height: 400px;
}
/* Highlighting borders for containers, rows, and columns */

/* Generic container styling */
.container {
    border: 5px solid red;
}

/* Generic row styling */
.row {
    border: 5px solid blue;
}

/* Generic column styling */
.col-md-12 {
    border: 5px solid green;
}

