/* Consistent size and center alignment for all plot containers */
.plot-container {
<<<<<<< HEAD
    width: 1000px;
    height: 1000px;
=======
    width: 800px;
    height: 500px;
>>>>>>> a8b6987e74094664ade0de6a902412d782cfb234
    margin: 0 auto; /* Center horizontally */
}

/* Align the slider with the plots */
#dateSlider {
<<<<<<< HEAD
    width: 1000px;
=======
    width: 800px;
>>>>>>> a8b6987e74094664ade0de6a902412d782cfb234
    margin: 20px auto; /* Center horizontally */
    display: block;
}

/* Custom styles for better visual appearance */
.text-center {
    text-align: center;
}
